@font-face{
  font-family: poppins;
  src: url(https//fonts.google.com/specimen/Poppins);
 }

 @font-face{
  font-family: open sans;
  src: url(https//fonts.google.com/specimen/open+sans);
 }


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }

  body{
    font-size: 18px;
    font-family: open sans;
    font-weight: 700;
  }
  
  .container{
    display: grid;
     height: 100vh;
    grid-template-areas:
      "top"
      "grow"
      "flow"
      "user"
      "btn"
      "footer";
    grid-template-columns: auto;
    grid-template-rows:  43em 35em 35em 35em 10em 30em;
  }
   
  
  
  
  #top{
    background-color: hsl(193, 100%, 96%);
      grid-area: top;
      background-image: url(image/bg-hero-desktop.svg);
      display: flex;
      flex-direction: column;
      padding: 2em;
      width: auto;

  
  }

  .nav{
    width: 100%;
    display: block;
  }
  
  .nav button{
    float: right;
  }

  .nav img{
    width: 9em;
    height: 5vh;
  }

.topwriting{
    display: flex;
    flex-direction: row;
    margin: 4em 0em;
    float: left;

}
  .topwriting #writing{
    width: 35%;
    margin: 5em 2em 5em 0em;
    position: relative;
    top: 0em;
  }

h1{
  font-family: poppins;
  font-weight: 600;
    font-size: 30px;
    width: 66%;
    margin-bottom: 1em;
    text-transform: capitalize;
    font-size: 31px;
}
  p{
   font-weight: 400;
    margin-bottom: 1em;
    font-size: 19px;
  }

  button{
    border-radius: 2em;
    padding: 1em;
    border: none;
   
  }

  .topwriting button{
    width: 20em;
    background-color: hsl(322, 100%, 66%);
    color: white;
    height: 9vh;
    font-weight: 600;
    font-size: 16px;
    padding: 1em;
    margin: 1em auto;
  }

  .nav button{
    background-color: white;
    width: 18em;
    font-weight: 600;
  }


  #picture img {
    width: 50em;
    height: 75vh;
    position: relative;
    left: 3em;
}
  
  #grow .boss {
    background-color: white;
    grid-area: grow;
    padding: 2em;
    display: flex;
    flex-direction: row;
    float: left;
    border: 0.3em solid whitesmoke;
    height: 50vh;
    position: relative;
    top: 30px;
    left: 17px;
    width: 93%;
    margin: 1em auto;
    
    
}

  #grow img{
    width: 35em;
    height: 46vh;
    position: relative;
    left: 9em;
  }

  #grow #writing{

    width: 40%;
    margin: 10em 2em 5em 0em;

  }


  
  #flow .boss{
    background-color: white;
      grid-area: flow;
      padding: 2em;
    display: flex;
    flex-direction: row-reverse;
    float: left;
    border: 0.3em solid whitesmoke;
    height: 46vh;
    position: relative;
    top: -5em;
    width: 93%;
    margin: 1em auto;
    left: 16px;
  
  }

  #flow img {
    width: 30em;
    height: 45vh;
    position: relative;
    left: -15em;
}

  #flow #writing{

    width: 40%;
    margin: 8em 0em 5em 0em;
  }

  
  #user .boss{
    background-color: white;
      grid-area: user;
      padding: 2em;
      display: flex;
      flex-direction: row;
      float: left;
      border: 0.3em solid whitesmoke;
      height: 46vh;
      position: relative;
      bottom:  13em;
      left: 17px;
      width: 93%;
      margin: 1em auto;
      
  
  }

  #user img{
    width: 30em;
    height: 45vh;
    position: relative;
    left: 15em;
  }

  #user #writing{

    width: 40%;
    margin: 8em 0em 5em 0em;
  }

  #btn{
      z-index: 1;
  }
  


  #btn .boss {
    background-color: white;
    grid-area: btn;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border: 0.3em solid whitesmoke;
    height: 10vh;
    text-align: center;
    width: 28%;
    margin: 5em  auto 0em auto;
    position: relative;
    bottom: 22em;
}

#btn p {
  font-weight: 600;
  font-size: 25px;
}
#btn button {
  width: 22em;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 600;
  position: relative;
  left: 63px;
  height: 7vh;
  padding: 1em;
}
  
  #footer {
    background-color: hsl(192, 100%, 9%);
    grid-area: footer;
    display: flex;
    color: white;
    position: relative;
    bottom: 20em;
}

  #footer section{
    width: 35%; 
  margin: 10em 7em 3em 5em;
  
  }

 
  

  .first img{
    margin: 1em;  
    float: left;

  }

  .first span{
    float: right;
    position: relative;
    bottom: 40px;
    left: 65px;

  }

  #footer a{
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    color: white;
    
  }


  
  @media (max-width: 375px){

    body {
      font-size: 46px;
  }
    .container{
      
        grid-template-rows:  58em 75em 75em 75em 5em 60em;

  
    }

    #top{
      background-color: hsl(193, 100%, 96%);
        background-image: url(image/bg-hero-mobile.svg);
  
    
    }

    .topwriting{
     
      flex-direction: column;
      margin: 0em ;
   
    }
  
  .topwriting #writing{
    width:50%;
    text-align: center;
    
  }
  
  h1 {
    font-size: 111px;
    text-align: center;
    position: relative;
    left: 0;
    width: 11em;
}

p {
  width: 16em;
  font-size: 80px;
  margin-left: 0em;
}
  .nav {
    width: 88%;
}

#picture img {
  
    width: 30em;
    height: 125vh;
  position: relative;
  left: -1em;
  top: -2em;
}
  

.topwriting button {
  width: 25em;
  font-size: 51px;
  padding: 0em;
  float: left;
  margin-top: 1em;
  height: 25vh;
}


nav img {
  width: 10em;
  height: 4vh;
}
#grow .boss {
  flex-direction: column-reverse;
  height: 263vh;
  width: 76%;
  margin: 0em auto;
  position: relative;
  top: 2em;
  left: 22px;
}


#grow img {
  width: 24em;
  height: 104vh;
  left: 43px;
  top: 7em;
}

#flow .boss {
  
  flex-direction: column-reverse;
  height: 263vh;
  position: relative;
  width: 76%;
  left: 27px;
  top: -27em;
}

#flow img {
  width: 27em;
  height: 104vh;
  position: relative;
  right: 0em;
  top: -1em;
}

#flow #writing {
  width: 40%;
  margin: 8em 0em 1em 0em;
}

.topwriting #writing{
  
}

#grow #writing {
  position: relative;
  top: 6em;
}
#user .boss {
  flex-direction: column-reverse;
  height: fit-content;
  bottom: 55em;
  width: 76%;
  position: relative;
  left: 24px;
}

#user img {
  width: 26em;
  height: 119vh;
  position: relative;
  left: 0em;
  top: 0em;
}

#user #writing{
  margin: 10em 0em 2em 0em;
  position: relative;
  top: 1em;


}

#btn .boss {
  flex-direction: column;
  height: 25vh;
  width: 76%;
  margin: 1em;
  position: relative;
  bottom: 12em;
  right: 13.5px;
}

#footer {
  display: grid;
  position: relative;
  bottom: 12em;
}

#footer section{
margin: 7em 7em 3em 5em;
width: auto;

}



#footer a{
  text-decoration: none;
  display: inline;
  margin-bottom: 1em;
  color: white;
  
}

#btn button {
  width: 23em;
  color: beige;
  font-size: 48px;
  padding: 1em;
  float: left;
  margin-top: -1em;
}

footer div{
  display: block;
} 
}