@font-face{
  font-family: poppins;
  src: url(https//fonts.google.com/specimen/Poppins);
 }

 @font-face{
  font-family: open sans;
  src: url(https//fonts.google.com/specimen/open+sans);

 }

 @keyframes example {
   from {width: 90%;}
   to {width: 95%;}
  
 }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: Poppins;
    font-weight: 700;
  }
  
  .top{
    background-color: hsl(193, 100%, 96%);
      background-image: url(image/bg-hero-desktop.svg);

  } 

  .nav, .sth{
    width: 90%;
    margin: 0 auto;

  }

  .nav{
    padding: 2em 0;
  }

  .nav button{
    float: right;
  }

  .nav img{
    width: 9em;

  }

.sth {
    display: flex;
    flex-direction: row;
    margin: 4em auto;

}
  .sth #writing{
    margin: 6em 3em 6em 0;
    width: 100%;
  }

  #writing button{
    background-color: hsl(322, 100%, 66%);
    color: white;
    width: 25vw;
    font-size: 1.1rem;
    box-shadow: 0 0 10px -2px black;

  }

  #writing button:hover{
    width:  26vw;
  }

h1{
  font-family: poppins;
  font-weight: 600;
    width: 70%;
    margin-bottom: 1em;
    text-transform: capitalize;
    font-size: 2.5rem;
}

p{
   font-weight: 400;
   margin-bottom: 1em;
   font-size: 1.3rem;
}

button{
    border-radius: 2em;
    padding: 1em;
    border: none;
   
}

  

.nav button{
    background-color: white;
    width: 18em;
    font-weight: 600;
}


.nav button:hover {
    width: 19em;
}

  #picture img {
    padding: 2em 0 2em 4em;
    width: 43em;
  }

 .boss {
    display: flex;
    flex-direction: row;
    border-radius: 1em;
    box-shadow: 0 0 25px 10px whitesmoke;
    width: 90%;
    padding: 2em auto;
    margin: 7em auto;
}

.boss:hover{
  width: 93%;
/* animation-name: example;
animation-iteration-count: infinite; */
}

.boss #writing {
  padding: 9em 4em;
}

.flow{
  flex-direction: row-reverse;
}

.flow #picture img {
  width: 42em;
  padding: 2em 4em;
}

.user #picture img{
  width: 35em

}

 
#btn .boss {
  background-color: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border: 0.3em solid whitesmoke;
  width: 40em;
  margin: 5em  auto 0em auto;
  align-items: center;
  box-shadow:  0 0 8px 3px whitesmoke;

}

#btn .boss:hover{
  width: 42em;
}
   

#btn p {
  font-weight: 600;
  font-size: 1.6rem;
}
#btn button {
  width: 18em;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 600;
  padding: 0.4em;
  font-size: 1.2rem;
  box-shadow: 0 0 8px 2px darkgray;
}


.footer {
  background-color: hsl(192, 100%, 9%);
  display: flex;
  color: white;
  padding: 10em 0;
  position: relative;
  bottom: 7em;
  z-index: -1;

}

.footer div{
  width: 20%;
  margin: 4em auto;
  text-align: center;
}

  .footer img{
    display: inline-block;

  }

  .footer #first{
    text-align: justify;
  }

 
  



  .footer a{
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    color: white;
    
  }

  .sm img{
    width: 4em;
    display: block;
    
  }

  #first p {
    
    word-break: break-all;
    overflow: hidden;
  }


  
  @media (max-width: 375px){

   
}