@font-face{
  font-family: poppins;
  src: url(https//fonts.google.com/specimen/Poppins);
 }

 @font-face{
  font-family: open sans;
  src: url(https//fonts.google.com/specimen/open+sans);
 }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 700;
  }
  
  .container{
    display: grid;
     height: 100vh;
    grid-template-areas:
      "top"
      "grow"
      "flow"
      "user"
      "btn"
      "footer";
    grid-template-columns: auto;
    grid-template-rows:  43em 35em 35em 35em 10em 30em;
  }
   
  
  
  
  #top{
    background-color: hsl(193, 100%, 96%);
      grid-area: top;
      background-image: url(image/bg-hero-desktop.svg);
      display: flex;
      flex-direction: column;
      padding: 2em;
      width: auto;

  
  }

  .nav{
    width: 100%;
    display: block;
  }
  
  .nav button{
    float: right;
  }

  .nav img{
    width: 9em;
    height: 5vh;
  }

.topwriting{
    display: flex;
    flex-direction: row;
    margin: 4em 0em;
    float: left;

}
  .topwriting #writing{
    width: 35%;
    margin: 5em 2em 5em 0em;
    position: relative;
    top: 0em;
  }

h1{
  font-family: poppins;
  font-weight: 600;
    font-size: 30px;
    width: 70%;
    margin-bottom: 1em;
    text-transform: capitalize;
    font-size: 31px;
}
  p{
   font-weight: 400;
    margin-bottom: 1em;
    font-size: 19px;
  }

  button{
    border-radius: 2em;
    padding: 1em;
    border: none;
   
  }

  .topwriting button{
    width: 16em;
    background-color: hsl(322, 100%, 66%);
    color: white;
    height: 5vh;
    font-weight: 600;
    font-size: 16px;
    padding: 0.9em;
    margin: 1em auto;
  }

  .nav button{
    background-color: white;
    width: 18em;
    font-weight: 600;
  }


  #picture img {
    width: 46em;
    height: 75vh;
    position: relative;
    left: 3em;
}
#grow .boss {
  background-color: white;
  grid-area: grow;
  padding: 2em;
  display: flex;
  flex-direction: row;
  float: left;
  border: 0.3em solid whitesmoke;
  height: 50vh;
  position: relative;
  top: 30px;
  left: 17px;
  width: 97%;
  margin: 1em auto;
}

#grow img {
  width: 32em;
  height: 41vh;
  position: relative;
  left: 9em;
}
  #grow #writing{

    width: 40%;
    margin: 10em 2em 5em 0em;

  }


  
  #flow .boss {
    background-color: white;
    grid-area: flow;
    padding: 2em;
    display: flex;
    flex-direction: row-reverse;
    float: left;
    border: 0.3em solid whitesmoke;
    height: 50vh;
    position: relative;
    top: -9em;
    width: 97%;
    margin: 1em auto;
    left: 16px;
}

  #flow img {
    width: 29em;
    height: 43vh;
    position: relative;
    left: -15em;
}

  #flow #writing{

    width: 40%;
    margin: 11em 0em 5em 0em;
  }

  
  #user .boss {
    background-color: white;
    grid-area: user;
    padding: 2em;
    display: flex;
    flex-direction: row;
    float: left;
    border: 0.3em solid whitesmoke;
    height: 50vh;
    position: relative;
    bottom: 19em;
    left: 17px;
    width: 97%;
    margin: 1em auto;
}

  #user img{
    width: 30em;
    height: 42vh;
    position: relative;
    left: 15em;
  }

  #user #writing{

    width: 40%;
    margin: 8em 0em 5em 0em;
  }

  #btn{
      z-index: 1;
  }
  


  #btn .boss {
    background-color: white;
    grid-area: btn;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border: 0.3em solid whitesmoke;
    height: 21vh;
    text-align: center;
    width: 35%;
    margin: 5em  auto 0em auto;
    position: relative;
    bottom: 30em;
}

#btn p {
  font-weight: 600;
  font-size: 25px;
}
#btn button {
  width: 22em;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 600;
  position: relative;
  left: 63px;
  height: 7vh;
  padding: 1em;
}
  
#footer {
  background-color: hsl(192, 100%, 9%);
  grid-area: footer;
  display: flex;
  color: white;
  position: relative;
  bottom: 29em;
  overflow: hidden;
}

  #footer section{
    width: 33.33%; 
  margin: 10em 7em 3em 5em;
  float: left;
  
  }

 
  

  .first img {
    margin: 1em;
    float: left;
    position: relative;
    right: 3em;
}

  .first span{
    float: right;
    position: relative;
    bottom: 40px;
    left: 65px;

  }



  #footer a{
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    color: white;
    
  }

  .sm img{
    width: 5em;
    height: 5vh;
    position: relative;
    right: 2em;
  }

  #first p {
    /* width: 11em; */
    position: relative;
    right: 0em;
    /* text-align: justify; */
    word-break: break-all;
    overflow: hidden;
  }


  
  @media (max-width: 375px){

    body {
      font-size: 46px;
  }
    .container{
      
        grid-template-rows:  58em 75em 75em 75em 1em 75em;

  
    }

    #top{
      background-color: hsl(193, 100%, 96%);
        background-image: url(image/bg-hero-mobile.svg);
  
    
    }

    .topwriting{
     
      flex-direction: column;
      margin: 0em ;
   
    }
  
  .topwriting #writing{
    width:50%;
    text-align: center;
    
  }
  
  h1 {
    font-size: 7rem;
    text-align: center;
    position: relative;
    left: 0;
    width: 11em;
}

p {
  width: 16em;
  font-size: 5rem;
  margin-left: 0em;
}
  .nav {
    width: 88%;
}

#picture img {
  
    width: 30.5em;
    height: 125vh;
  position: relative;
  left: -1em;
  top: -2em;
}
  

.topwriting button {
  width: 27em;
  font-size: 3rem;
  padding: 0em;
  float: left;
  margin-top: 1em;
  height: 25vh;
}


nav img {
  width: 10em;
  height: 4vh;
}


#grow .boss {
  flex-direction: column-reverse;
  height: 263vh;
  width: 85%;
  margin: 0em auto;
  position: relative;
  top: 2em;
  left: 52px;
}


#grow img {
  width: 24em;
  height: 104vh;
  left: 2em;
  top: 11em;
}

#flow .boss {
  
  flex-direction: column-reverse;
  height: 263vh;
  position: relative;
  width: 85%;
  left: 1em;
  top: -32em;
}

#flow img {
  width: 22em;
  height: 104vh;
  position: relative;
  left:  2em;
  top: 3em;
}

#flow #writing {
  width: 40%;
  margin: 8em 0em 1em 0em;
  position: relative;
  top: 2em;
}

.nav button {
  background-color: white;
  width: 7em;
  font-weight: 600;
  padding: 0.8em;
  font-size: 3rem;
  position: relative;
  top: -0.7em;
}

.nav img {
  width: 9em;
  height: 8vh;
}

#grow #writing {
  position: relative;
  top: 6em;
  right: 0.5em;
}

#user .boss {
  flex-direction: column-reverse;
  height: 264vh;
  bottom: 65em;
  width: 85%;
  position: relative;
  left: 1em;
}

#user img {
  width: 23em;
  height: 100vh;
  position: relative;
  left: 2em;
  top: 7em;
}
#user #writing {
  margin: 10em 0em 2em 0em;
  position: relative;
  top: 1em;
  right: 0.5em;
}
#btn .boss {
  flex-direction: column;
  height: 73vh;
  width: 87%;
  margin: 1em;
  position: relative;
  bottom: 88em;
  right: 0.3em;
}

#btn p {
  font-weight: 600;
  font-size: 5.2rem;
  position: relative;
  right: 5rem;
}

#footer {
  display: inline-block;
  position: relative;
  bottom: 81em;
  right: 2em;
  /* font-size: 4rem; */
}

.first{
  float: left;
  width: 50%;
}
#footer section{
margin: 9em 7em 3em 5em;
width: auto;

}



#footer a{
  text-decoration: none;
  display: block;
  margin-bottom: 1em;
  color: white;
  font-size: 5rem;
  
}

#btn button {
  width: 23em;
  color: white;
  font-size: 3rem;
  padding: 2em;
  float: left;
  margin-top: -1em;
}

footer div{
  display: block;
} 

.first img {
  margin: 1em;
  float: left;
  width: 2em;
  height: 7vh;
}

#first p {
  width: 11em;
  position: relative;
  right: 0em;
  text-align: justify;
  word-break: break-all;
  overflow: hidden;
}

.second{
  position: relative;
  top: -8em;
}

.third{
  position: relative;
  top: -19em;
}

.sm img {
  width: 4em;
  height: 18vh;
  position: relative;
  bottom: 27em;
  right: -7em;
}
}